body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
}

.search-container input {
    width: 100%;
    max-width: 500px;
    padding: 12px 20px;
    font-size: 16px;
    border: 2px solid #e0e0e0;
    border-radius: 25px;
    outline: none;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.search-container input:focus {
    border-color: #3498db;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#character-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}

.character-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer; /* Cambia el cursor al pasar sobre la tarjeta */
}

.character-card img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.character-card span {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.character-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    max-width: 90%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.modal-content img {
    width: 100%;
    height: auto;
    max-height: 60vh;
    object-fit: cover;
}

.modal-content span {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-close:hover {
    background-color: #2980b9;
}